:root {
    --hrdc-theme-light-teal: hsl(184, 71%, 45%);
    --hrdc-theme-teal: hsl(184, 71%, 27%);
    --hrdc-theme-dark-teal: hsl(195, 100%, 16%);
    --hrdc-theme-olive: hsl(64, 35%, 47%);

    --hrdc-theme-red: hsl(350, 70%, 50%);
    --hrdc-theme-orange: rgb(242, 124, 70);
    --hrdc-theme-yellow: hsl(39, 87%, 61%);
    --hrdc-theme-green: hsl(100, 70%, 40%);
    --hrdc-theme-light-grey: hsl(0, 0%, 85%);

    --hrdc-theme-alert: var(--hrdc-theme-red);
    --hrdc-theme-warning: var(--hrdc-theme-yellow);
    --hrdc-theme-okay: var(--hrdc-theme-green);
    
    --hrdc-theme-stock-urgent: var(--hrdc-theme-orange);
    --hrdc-theme-stock-low: var(--hrdc-theme-yellow);
    --hrdc-theme-stock-okay: var(--hrdc-theme-teal);

    --main-padding: 20px;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.otf');
    font-weight: 400;
    font-style: normal;
}

*:not(code) {
    font-family: 'Gotham Book', sans-serif;
}
body {
    margin: 0;
}
code {
    background-color: #333;
    color: white;
    padding: 3px 5px;
    border-radius: 3px;
    white-space: nowrap;
}
code.type {
    color: var(--hrdc-theme-light-teal);
}

.header-color {
    background: url('../images/hrdc-wave.png') bottom center / contain no-repeat, var(--hrdc-theme-dark-teal);
    width: 100%;
    height: 400px;
    position: relative;
}


h1, h2 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-family: 'Gotham Bold', sans-serif;
}
h1 {
    padding-top: 30px;
    font-size: 2.5em;
    color: white;
}
h2 {
    font-size: 1.8em;
    color: var(--hrdc-theme-olive);
}
h3, h4 {
    margin: 20px;
}
h3 {
    font-size: 1.5em;
    color: var(--hrdc-theme-dark-teal);
    text-align: center;
}
main {
    margin: 0 auto 20px auto;
    max-width: 800px;
    width: calc(100% - 40px);
    font-size: 1.2em;
    line-height: 1.5em;
}
main a {
    color: var(--hrdc-theme-dark-teal);
}
main a:hover {
    color: var(--hrdc-theme-teal);
}

.navigation-bar {
    width: calc(100% - 40px);
    margin: 20px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    display: flex;
}
.navigation-bar > a {
    width: 100%;
    height: 46px;
    line-height: 46px;
    font-size: 1.2em;
    border-radius: 8px;
    border: 2px solid var(--link-theme);
    color: var(--link-theme);
    transition: 100ms;
    text-align: center;
    font-family: 'Gotham Bold', sans-serif;
    text-decoration: none;
}

.navigation-bar > a:hover, .navigation-bar > a.current {
    filter: brightness(120%);
    background-color: var(--link-theme);
    color: white;
}
.navigation-bar > a:first-child {
    width: 46px;
    flex-shrink: 0;
    --link-theme: var(--hrdc-theme-dark-teal);
}
.navigation-bar > a:first-child > img {
    height: 36px;
    width: 36px;
    margin: 5px;
}
.navigation-bar > a:first-child > img:last-child {
    display: none;
}
.navigation-bar > a:hover:first-child > img:last-child, .navigation-bar > a.current:first-child > img:last-child {
    display: inline;
}
.navigation-bar > a:hover:first-child > img:first-child, .navigation-bar > a.current:first-child > img:first-child {
    display: none;
}
.navigation-bar > a:nth-child(2) {
    --link-theme: var(--hrdc-theme-yellow);
}
.navigation-bar > a:nth-child(3) {
    --link-theme: var(--hrdc-theme-teal);
}
.navigation-bar > a:nth-child(4) {
    --link-theme: var(--hrdc-theme-olive);
}
.navigation-bar > a:last-child {
    --link-theme: var(--hrdc-theme-green);
}
.navigation-bar > a:not(:last-child) {
    margin-right: 20px;
}

@media only screen and (max-width: 950px) {
    .navigation-bar {
        bottom: 10px;
    }
    .navigation-bar > a {
        font-size: 1em;
    }
    .navigation-bar > a:first-child {
        width: 100%;
    }
}
@media only screen and (max-width: 750px) {
    .header-color {
        margin-bottom: 290px;
    }
    .navigation-bar {
        bottom: -10px;
        flex-direction: column;
    }
    .navigation-bar > a {
        font-size: 1em;
        margin-bottom: 20px;
    }
    main {
        font-size: 1em;
    }
}
@media only screen and (max-width: 550px) {
    .header-color {
        margin-bottom: 315px;
    }
    .navigation-bar {
        bottom: -35px;
        flex-direction: column;
    }
    .navigation-bar > a {
        font-size: 1em;
        margin-bottom: 20px;
    }
}