<html lang="en">

<head>
    <!-- HTMX CDN -->
    <script src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRDC Inventory Management System</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/product.css">
    <link rel="stylesheet" href="styles/reports.css">
    <script src="scripts/index.js"></script>
</head>

<body>

<div class="header">
    <img class="logo" src="icons/logo_white.png">
    {% if current_user and current_user.username == "admin" %}
        <a href="/settings" class="account">ADMIN SETTINGS</a>
    {% endif %}
</div>
{% block content %}
{% endblock %}

</body>

</html>