<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HTMX CDN -->
    <script src="https://unpkg.com/htmx.org@2.0.4"
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRDC Inventory Management System</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/base.css">
    <script src="scripts/index.js"></script>
</head>

<body>

    <div class="header">
        <img class="logo" src="icons/logo_white.png">
    </div>

    <div class="navigation">
        <a href="/"><- Back to Home</a>
        <a class="inventory" element="current">INVENTORY</a>
        <a class="reports">REPORTS</a>
        <a class="account" img="icons/account">ACCOUNT</a>
        <form class="logout" action="/logout" method="post" style="display: flex; align-items: center; gap: 10px">
            <p>Welcome, {{ user.username }}</p>
            <button type="submit">Log Out</button>
        </form>
    </div>


    {% if not filepath %}
    <!-- If the product.filepath is empty, show the form to upload an image -->
    <form action="/upload/{{ product.get_id() }}" method="POST" enctype="multipart/form-data">
        <label for="fileInput">Choose image:</label>
        <input type="file" id="fileInput" name="file" accept="image/*" required>
        <button type="submit">Upload Image</button>
    </form>
{% else %}
    <!-- If the product.filepath is not empty, display the image -->
    <div>
        <img src="images/{{ filepath }}" />
    </div>
{% endif %}


</body>

</html>