{% extends "base.html" %}
{% block content %}

    {% include 'nav.html' %}

    <div class="content_container">
    <div class="top_container">
    <div class="column">
    <div class="image-box">
        <label for="fileInput">
    {% if not filepath %}
            <img src="icons/image-camera.svg" class="upload-trigger" />
    {% else %}
            <img src="images/{{ filepath }}" />
    {% endif %}
        </label>
    </div>
    <form action="/upload/{{ product.get_id() }}" method="POST" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept="image/*" required style="display: none;">
    </form>
    <script>
        document.getElementById('fileInput').addEventListener('change', function() {
        this.form.submit();
        });
    </script>
    </div>
    <div class="column">
    <h1>{{ product.product_name }}</h1>
    <h2>{{product.category.name}}</h2>
    <h1>{{ product.inventory }} /  {{ product.ideal_stock }}</h1>
    <div style="display: flex; align-items: center; gap: 10px;">
        <h3>Lifetime amount donated: {{ product.lifetime_donated }}</h3>
        <button hx-get="/load_update_donated/{{ product.id }}" hx-target="body" hx-swap="beforeend">
            ADJUST
        </button>
    </div>
    <div style="display: flex; align-items: center; gap: 10px;">
        <h3>Lifetime amount purchased: {{ product.lifetime_purchased }}</h3>
        <button hx-get="/load_update_purchased/{{ product.id }}" hx-target="body" hx-swap="beforeend">
            ADJUST
        </button>
    </div>
    <div class="inventory-item-bar">
        {% if product.inventory == 0 or product.ideal_stock == 0 %}
            <div class="inventory-item-no-stock"></div>
        {% elif product.inventory <= product.ideal_stock * 0.25 %}
            <div style="width: {{product.inventory/product.ideal_stock*100}}%; background-color: var(--hrdc-theme-stock-urgent);"></div>
        {% elif product.inventory <= product.ideal_stock * 0.5 %}
            <div style="width: {{product.inventory/product.ideal_stock*100}}%; background-color: var(--hrdc-theme-stock-low);"></div>
        {% elif product.inventory > product.ideal_stock %}
            <div style="width: 100%; background-color: var(--hrdc-theme-stock-okay);"></div>
        {% else %}
            <div style="width: {{product.inventory/product.ideal_stock*100}}%; background-color: var(--hrdc-theme-stock-okay);"></div>
        {% endif %}
    </div>
    </div>

    <div class="column">
    <button class="product-button" hx-get="/load_update/{{ product.id }}" hx-target="body" hx-swap="beforeend">
            ADJUST STOCK
    </button>


    <div class="dropdown">
        <button class="dropdown-btn">
            <img src="icons/three_dot.svg" width="40" height="30">
        </button>


        <div class="dropdown-content">
            <a href="#" hx-delete="/delete/{{ product.id }}" hx-target="body" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete {{  product.product_name }}?">Delete Item</a>

            <a hx-get="/load_update_all/{{ product.id }}" hx-target="body" hx-swap="beforeend">Update Info</a>

        </div>
    </div>


    <div class ="info_container">
    <table id = "info_table">
        <tr>
            <td class="title-column">Price per Unit</td>
            <td class="dash-column">
                <hr class="line">
            </td>
            <td class="value-column">${{product.price }}</td>
        </tr>
        <tr>
            <td class="title-column">Perferred Quantity</td>
            <td class="dash-column">
                <hr class="line">
            </td>
            <td class="value-column">{{product.ideal_stock }}</td>
        </tr>
        <tr>
            <td class="title-column">Minimum Quantity</td>
            <td class="dash-column">
                <hr class="line">
            </td>
            <td class="value-column">min</td>
        </tr>
    </table>
        <script>

        </script>
    </div>
    </div>
    </div>
    </div>

    </div>
{% block update_stock %}
{% endblock %}
{% block update_all %}
{% endblock %}
</body>
{% endblock %}
