{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="styles/mobile_index.css"/>

<div class="mobile-form-container">
    <img src="icons/search_icon.svg" alt="Search Icon"/>
    <input class="mobile-form-control" placeholder="Search"/>
</div>

<div class="grid-land">
    <button class="category-btn">
        <img src="icons/map.svg" alt="Office Supplies"/><br>
        <span>Office Supplies</span>
    </button>

    <button class="category-btn">
        <img src="icons/restaurant.svg" alt="Food Products"/><br>
        <span>Food Products</span>
    </button>

    <button class="category-btn">
        <img src="icons/restaurant.svg" alt="Hygiene Products"/><br>
        <span>Hygiene Products</span>
    </button>

    <button class="category-btn">
        <img src="icons/map.svg" alt="Office Supplies"/><br>
        <span>Office Supplies</span>
    </button>

    <button class="category-btn">
        <img src="icons/restaurant.svg" alt="Food Products"/><br>
        <span>Food Products</span>
    </button>

    <button class="category-btn">
        <img src="icons/restaurant.svg" alt="Hygiene Products"/><br>
        <span>Hygiene Products</span>
    </button>
    
    <button class="category-btn">
        <img src="icons/restaurant.svg" alt="Food Products"/><br>
        <span>Food Products</span>
    </button>

    <button class="category-btn">
        <img src="icons/restaurant.svg" alt="Hygiene Products"/><br>
        <span>Hygiene Products</span>
    </button>
</div>

{% endblock %}
