{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="styles/mobile_base.css"/>
<link rel="stylesheet" href="styles/mobile_index.css"/>

<div class="grid-land">
    {% for category in category_list %}
        <a href="/mobile-category?category_id={{ category.id }}" class="category-btn center-all box-shadow-small">
            {% if not category.image_path %}
                <img src="icons/image-camera.svg" alt="Off{{ category.name }}"/><br>
            {% else %}
                <img src="{{ category.image_path }}" alt="Off{{ category.name }}"/><br>
            {% endif %}
            <span>{{ category.name }}</span>
        </a>
    {% endfor %}
</div>

{% endblock %}
