<div class="navigation">
    <form class="inventory" action="/" method="get">
        <button type="submit">INVENTORY</button>
    </form>
    <form class="reports">
        <button type="submit">REPORTS</button>
    </form>
    <form class="logout" action="/logout" method="post">
        <button type="submit" element="logout">
            <img alt="User" src="icons/user.svg" class="logout-icon"/>SIGN OUT
        </button>
    </form>
</div>

<div class="urgency-placeholder">
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="scaffolding">
    <div class="filter-parent"></div>
    <div class="action-parent">

        <input class="form-control" type="search"
               name="search" placeholder="SEARCH INVENTORY"
               hx-post="/search"
               hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
               hx-target="#search-results"
               hx-indicator=".htmx-indicator">

        <button class="product-button" hx-get="/export_csv" hx-target="body" hx-swap="beforeend">
            EXPORT
        </button>


    </div>
    <h1>THis is where the charts go</h1>
    <div>

    </div>
</div>


