<div id="inventory-table" class="inventory-table">
    {% for product in product_list %}
        <div class="inventory-table-row box-shadow-small">
            <img alt="Map" src="icons/map.svg" class="inventory-item-icon"/>
            <div class="center-vert">
                <span class="inventory-item-name">{{ product.product_name }}</span>
                {% if product.category.name is not none %}
                    <span>{{ product.category.name }}</span>
                {% endif %}

            </div>
            <div class="center-all" style="padding: 0 25px;">
                <div class="inventory-item-bar">
                    {% if product.inventory == 0 or product.ideal_stock == 0 %}
                        <div class="inventory-item-no-stock"></div>
                    {% elif product.inventory <= product.ideal_stock * 0.25 %}
                        <div style="width: {{ product.inventory/product.ideal_stock*100 }}%; background-color: var(--hrdc-theme-stock-urgent);"></div>
                    {% elif product.inventory <= product.ideal_stock * 0.5 %}
                        <div style="width: {{ product.inventory/product.ideal_stock*100 }}%; background-color: var(--hrdc-theme-stock-low);"></div>
                    {% elif product.inventory > product.ideal_stock %}
                        <div style="width: 100%; background-color: var(--hrdc-theme-stock-okay);"></div>
                    {% else %}
                        <div style="width: {{ product.inventory/product.ideal_stock*100 }}%; background-color: var(--hrdc-theme-stock-okay);"></div>
                    {% endif %}
                </div>
                <span style="font-weight: bold;">{{ product.inventory }}/{{ product.ideal_stock }}</span>
            </div>
            <div class="center-all">Last Updated {{ product.last_updated.strftime("%m/%d/%y") }}</div>
            <a class="inventory-item-link" href="/{{ product.get_id() }}">
                <img src="icons/arrow_up_right.svg" alt="Arrow Up Right"/>
            </a>
        </div>
    {% endfor %}
</div>