:root {
    --hrdc-theme-teal: hsl(184, 71%, 27%);
    --hrdc-theme-dark-teal: hsl(195, 100%, 16%);
    --hrdc-theme-green-yellow: hsl(64 35.2% 48.4%);

    --hrdc-theme-red: hsl(350, 70%, 50%);
    --hrdc-theme-orange: rgb(242, 124, 70);
    --hrdc-theme-yellow: hsl(39, 87%, 61%);
    --hrdc-theme-green: hsl(100, 70%, 40%);
    --hrdc-theme-really-light-grey: hsl(0, 0%, 93%);
    --hrdc-theme-light-grey: hsl(0, 0%, 85%);
    --hrdc-theme-medium-grey: hsl(0, 0%, 70%);

    --hrdc-theme-alert: var(--hrdc-theme-red);
    --hrdc-theme-warning: var(--hrdc-theme-yellow);
    --hrdc-theme-okay: var(--hrdc-theme-green);

    --hrdc-theme-stock-urgent: var(--hrdc-theme-orange);
    --hrdc-theme-stock-low: var(--hrdc-theme-yellow);
    --hrdc-theme-stock-okay: var(--hrdc-theme-teal);

    --main-padding: 20px;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold Italic';
    src: url('../fonts/Gotham-BoldItalic.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book Italic';
    src: url('../fonts/Gotham-BookItalic.otf');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
}

.header {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background: var(--hrdc-theme-teal);
    color: white;
    display: flex;
    align-content: center;
    padding: 1rem 1rem;
}

.header img {
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header a{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 5px;
    margin-right: 20px;
}


.box-shadow-small {
    box-shadow: 0 3px 6px hsla(0, 0%, 20%, 0.3),
    -3px 0 6px hsla(0, 0%, 20%, 0.3),
    3px 0 6px hsla(0, 0%, 20%, 0.3);
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vert {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation button {
    margin-bottom: auto;
    padding: 1em 1em;
    color: var(--hrdc-theme-dark-teal);
    cursor: pointer;

    font-size: 12px;
    font-family: 'Gotham Book';
    border: 3px solid black;
    border-color: #ffffff;
    background-color: #ffffff;
}

.navigation button:hover {
    border: 3px solid black;
    background-color: var(--hrdc-theme-teal);
    border-color: var(--hrdc-theme-teal);
    color: white;
}

.navigation button:active {
    border: 3px solid black;
    border-color: var(--hrdc-theme-teal);
    background-color: #ffffff;
    color: var(--hrdc-theme-dark-teal);
}

.logout
{
    margin-left: auto;
}

.logout-icon
{
    width: 1.1em;
    margin-right: 0.5em;
    vertical-align: bottom;
}

.logout:hover .logout-icon
{
    filter: brightness(0) invert(1);
}

.logout:active .logout-icon
{
    filter: brightness(1) invert(0);
}