body {
    overflow-x: hidden;
    overflow-y: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation button {
    margin-bottom: auto;
    padding: 1em 1em;
    color: var(--hrdc-theme-dark-teal);
    cursor: pointer;

    font-size: 12px;
    font-family: 'Gotham Book';
    border: 3px solid black;
    border-color: #ffffff;
    background-color: #ffffff;
}

.navigation button:hover {
    border: 3px solid black;
    background-color: var(--hrdc-theme-teal);
    border-color: var(--hrdc-theme-teal);
    color: white;
}

.navigation button:active {
    border: 3px solid black;
    border-color: var(--hrdc-theme-teal);
    background-color: #ffffff;
    color: var(--hrdc-theme-dark-teal);
}

.inventory {
    border-bottom: 3px solid var(--hrdc-theme-green-yellow);
}

.inventory:hover {
    border-bottom: 3px solid #ffffff;
}


.logout {
    margin-left: auto;
}

.logout-icon {
    width: 1.1em;
    margin-right: 0.5em;
    vertical-align: bottom;
}

.logout:hover .logout-icon {
    filter: brightness(0) invert(1);
}

.logout:active .logout-icon {
    filter: brightness(1) invert(0);
}


.form-control {
    padding: 15px 30.5%;
    font-family: 'Gotham Book';
    font-size: 14px;
    font-weight: bold;
    color: #5b5b5b;
    background-color: #f5f5f5;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2) inset;
    text-transform: uppercase;
}

.form-control::placeholder {
    color: #B2B4B5;
}

.action-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-button {
    background-color: var(--hrdc-theme-teal);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 15px 3%;
    font-weight: bold;
    font-family: 'Gotham Book';
    margin-left: auto;
}

.product-button:hover {
    background-color: var(--hrdc-theme-green-yellow);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 15px 3%;
    font-weight: bold;
    font-family: 'Gotham Book';
}

.urgency-banners {
    height: 60px;
    padding: var(--main-padding);
    padding-bottom: 4px;
    gap: var(--main-padding);
    width: calc(100% - var(--main-padding) * 2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
}

.shadow {
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.banner {
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.red_rectangle {
    height: 1%;
    width: 100%;
    background-color: #e20707;
    padding-bottom: 1%;
}

.orange_rectangle {
    height: 1%;
    width: 100%;
    background-color: #cc4600;
    padding-bottom: 1%;
}

.green_rectangle {
    height: 1%;
    width: 100%;
    background-color: #004907;
    padding-bottom: 1%;
}

p {
    margin: 1% 0;
    padding-bottom: 1%;
}


.scaffolding {
    display: inline-grid;
    background-color: white;
    padding: var(--main-padding);
    gap: var(--main-padding);
    width: calc(100% - var(--main-padding) * 2);
    grid-template-columns: 25% 1fr;
    grid-template-rows: 50px auto;
}

.filter-parent {
    grid-row: 1 / -1;
    background-color: tomato;
}

.inventory-table {
    width: 100%;
    background-color: white;
    color: var(--hrdc-theme-teal);
    font-family: 'Gotham', sans-serif;
    font-size: 0.8em;
}

.inventory-table-row {
    height: 60px;
    display: grid;
    grid-template-columns: 60px auto 1fr auto 60px;
    column-gap: 20px;
}

.inventory-table-row:not(:last-child) {
    margin-bottom: 10px;
}

.inventory-item-icon {
    height: 50px;
    width: 50px;
    margin: 5px;
}

.inventory-item-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
}

.inventory-item-bar {
    width: 100%;
    background-color: var(--hrdc-theme-light-grey);
    height: 6px;
    margin-right: 10px;
}

.inventory-item-bar > div {
    height: inherit;
}

.inventory-item-link {
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    transition: 200ms;
}

.inventory-item-link:hover {
    background-color: var(--hrdc-theme-light-grey);
}

.inventory-item-link > img {
    height: inherit;
    width: inherit;
}

.inventory-item-no-stock {
    width: 100%;
    background: repeating-linear-gradient(
            45deg,
            var(--hrdc-theme-alert),
            var(--hrdc-theme-alert) 5px,
            var(--hrdc-theme-light-grey) 5px,
            var(--hrdc-theme-light-grey) 10px
    );
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}