name: Run Tests

env:
  ADMIN_PASSWORD: password
  STAFF_PASSWORD: password
  VOLUNTEER_PASSWORD: password

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        pip install --upgrade setuptools
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Run flask server
      run: |
        python app.py &
    - name: Wait for Flask to be ready
      run: sleep 10

    - name: Check Flask server
      run: curl -I http://localhost:5000 || exit 1

    - name: Install Selenium-side-runner
      run: npm install -g selenium-side-runner

    - name: Setup Fluxbox and Xvfb #see https://github.com/SeleniumHQ/selenium/issues/15327
      run: |
        sudo apt-get -y install fluxbox
        Xvfb :99 &
        fluxbox -display :99 &
        echo "DISPLAY=:99" >> "$GITHUB_ENV"

    - name: Run Selenium tests
      run: selenium-side-runner -c "browserName=chrome goog:chromeOptions.args=[\"--headless\"]" automated-testing/CRUD.side
